@charset "UTF-8";

/* 전체 페이지 */
.weatherWrap {
	width: 100%;
	position: relative;
	box-sizing: border-box;
	line-height: 0;
	padding: 20px 0;
	background: white;
}

@media (min-width: 1256px) {
	.weatherWrap {
		width: 1256px;
		margin: 0 auto;
	}
}



/* 상단 카테고리 메뉴 박스 */
#weatherCtgBox {
	margin-bottom: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #39A7FF;
}

.weatherCtgBar {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	line-height: 0;
	background: white;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}

.weatherCtg {
	list-style: none;
	text-decoration : none;
	color: black;
	font-weight: bold;
	letter-spacing: -1px;
	padding-right: 5px;
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
}

.weatherCtg.active {
	color: #39A7FF; 
	text-shadow: -1px 0px #E0F4FF, 0px 1px #E0F4FF, 1px 0px #E0F4FF, 0px -1px #E0F4FF;
}

#weatherMainBox {
	margin-top: 30px;
}

#weatherInfoBox {
	margin: 0 auto;
	width: 500px;
	height: 700px;
}

#weatherDetailBox {
	 margin-top: 50px; 
	 width: 100%;
	 height: 700px;
}

#weatherDetailBox table {
	border: 1px solid #E0F4FF;
	width: 400px;
	height: 350px;
	margin: 0 auto;
	letter-spacing: -1px;
}

#weatherDetailBox table th {
	color: #39A7FF; 
	width: 100px;
	font-weight: bold;
}

#weatherDetailBox table td {
	padding-left: 10px;
}

#weatherDetailBox table tr:nth-child(2n) {
	background-color: #E0F4FF;	
}

#weatherMapWrap {
	display: inline-block;
	width: 500px;
	height: 500px;
	float: right;
}

#weatherMapBox {
	width: 100%;
	height: 100%;
}

.warningImg {
	display: inline-block;
	padding-left: 15px;
	width: 42%;
}

.warningImg img {
	width: 100%;
}

.warningTable {
	width: 55%;
	height: 800px;
	float: right;
	margin-right: 10px;
	margin-bottom: 20px;
	border-radius: 5px; 
	border:1px solid #39A7FF;
	letter-spacing: -1px;
}

.warningTable thead {
	text-align: center;
}

.warningTable th {
	padding-top: 15px;
	height: 30px;
	line-height: 30px;
	font-size: 32px;
	color: #39A7FF;
}

.warningTable td {
	padding: 0 10px 10px 10px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}

.waningTable td:nth-child(2n) {
	background-color: #E0F4FF;	
}

.subtitle {
	font-weight: bold;
	/*color: #39A7FF;*/
}

.subtitle.gale {
	color: #0DF205;
}

.subtitle.heatwave {
	color: #BC04BF;
}

.subtitle.storm {
	color: #05F2DB;
}

/* weatherTidetable.jsp */

#currentDayBox {
	margin-top: 30px;
	padding: 10px;
}

#weatherDetailBox table {
	table-layout: fixed;
}

#weatherDetailBox table td {
	overflow:hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}



#currentDayInfo {
	border-radius: 5px; 
	border: 2px solid white;
}

#currentDayInfo th {
	height: 20px;
	line-height: 20px;
	padding: 10px;
	background-color: #39A7FF;
	color: white;
	font-size: 18px;
}

#currentDayInfo td {
	height: 30px;
	line-height: 30px;
	padding: 10px;
}

#tidetablebox {
	margin-top: 30px;
	padding: 10px;
}

#tidetableInfo {
	border-radius: 5px; 
	border: 2px solid white;
}

#tidetableInfo th {
	height: 20px;
	line-height: 20px;
	padding: 10px;
	background-color: #39A7FF;
	color: white;
	font-size: 18px;
}

#tidetableInfo td {
	height: 30px;
	line-height: 30px;
	padding: 10px;
}

.tidetableTitle {
	background-color: #E0F4FF;
	text-align: center;
	font-size: 18px;	
}

#tidetableInfo td span {
	font-weight: bold;
	color: #39A7FF;
}

.tidetableNum td,
.tidetableMain {
	background-color: #FFEED9;
}

#tidetableSource {
	padding: 20px;
}

#tidetableSource a {
	color: #39A7FF;
}