<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring_boot_final.metasumer.dao.IFishingSpotAreaDAO">
    <!-- 낚시터 구역 정보 조회 -->
    <select id="getFishingSpotAreasBySpotId" parameterType="int" resultType="com.spring_boot_final.metasumer.model.FishingSpotAreaVO">
        SELECT * FROM fishingSpotArea
        WHERE spotId = #{spotId}
    </select>
    
    <select id="getFishingSpotAreaById" parameterType="int" resultType="com.spring_boot_final.metasumer.model.FishingSpotAreaVO">
        SELECT * 
        FROM fishingSpotArea
        WHERE areaId = #{areaId}
    </select>
    
    <!-- 구역 등록 -->
		<insert id="insertFishingSpotArea" parameterType="com.spring_boot_final.metasumer.model.FishingSpotAreaVO">
		    INSERT INTO fishingSpotArea (spotId, areaName, areaPrice, minCapacity, maxCapacity, startTime, endTime, fishType)
		    VALUES (#{spotId}, #{areaName}, #{areaPrice}, #{minCapacity}, #{maxCapacity}, #{startTime}, #{endTime}, #{fishType})
		</insert>
		
		<!-- 구역 수정 -->
    <update id="updateFishingSpotArea">
        UPDATE fishingSpotArea
        SET spotId = #{spotId}, areaName = #{areaName}, areaPrice = #{areaPrice}, minCapacity = #{minCapacity},
            maxCapacity = #{maxCapacity}, startTime = #{startTime}, endTime = #{endTime}, fishType = #{fishType}
        WHERE areaId = #{areaId}
    </update>

    <!-- 구역 삭제 -->
    <delete id="deleteFishingSpotArea">
        DELETE FROM fishingSpotArea WHERE areaId = #{areaId}
    </delete>
	</mapper>